html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: ghostwhite;
  }

a {
    text-decoration: none;
    color: #334455;
}  

p {
    font-family: 'Lexend Giga', sans-serif;
    color: #111;
}

.section-header {
    background-color: rgb(255, 166, 0);
    font-family: 'Lexend Giga', sans-serif;
    color: black;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: solid 4px black;
}  


/* NAV BAR */

#nav-container {
    padding: 20px;
    /* position: fixed; */
}

.nav-item {
    font-family: 'Lexend Giga', sans-serif;
    font-size: 22px;
}

/* .nav-item:hover {
    color: rgb(30, 30, 168);
} */


h3, h2 {
    font-family: 'Lexend Giga', sans-serif;
    color: black;
}


/* LANDING SECTION */

#landing-section {
    /* background: yellow; */
    height: 100%;
    padding-top: 15%;
    margin-bottom: 0;
    /* padding-left: 20%;
    padding-right: 20%; */
}

.about-me {
    /* background-color: salmon; */
    text-align: left;
    font-size: 27px;
    padding: 10px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 10%;

}

.hello {
    background-color: rgb(255, 166, 0);
    font-family: 'Lexend Giga', sans-serif;
    color: black;
    padding: 10px;
    margin-bottom: 20px;
    margin-right: 75%;
    border: solid 4px black;
    display: fixed;
}

/* CONTENT SECTIONS */
.content-container {
    /* display: flex;
    flex-direction: column;
    background-color: green; */
    margin-left: 10%;
    margin-right: 10%;
}

/* PROJECTS */

#projects {
    height: 100%;
    /* background: orange; */
}

/* .wrapper {
    background-color: orchid;
    padding: 5%;
    height: 100%;
    
} */

.container-fluid {
    /* background-color: orangered; */
    justify-content: space-evenly;
    padding-top: 15%;
    padding-bottom: 15%;
    padding-left: 5%;
    padding-right: 5%;
    
}

.col-md-4 {
    border: solid 4px black;
    padding: 10px;
   
}

.col-sm-9 {
    border: solid 4px black;
    padding: 10px;
  
}

.project-text{
    font-size: 20px;
    text-align: center;
    padding-top: 15px;
}

/* .project-sample {
    padding: 10px;
} */

/* SKILLS */

#skills {
    height: 100%;
    /* background: blue; */
}

.skills-container {
    display: flex;
    flex-direction: row;
    /* background-color: green; */
}

.list {
    /* background-color: orange; */
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 5%;
    padding-right: 5%;
}

.column-1 {
    /* background-color: dodgerblue; */
    width: 100%;
    height: 100%;
    
}

.column-2 {
    /* background-color: orangered; */
    width: 100%;
    height: 100%;
} 

.column-3 {
    /* background-color: brown; */
    width: 100%;
    height: 100%;
} 

/* FOOTER */
footer {
    /* background-color: darkmagenta; */
    text-align: center;
}

#social-container {
    display: flex;
    flex-direction: row;
    /* background-color: mediumslateblue; */
}

.linkedin {
    /* background-color: orange; */
    width: 25%;
    height: 50%;
    padding: 5px;
    margin: 0;
}

.github {
    /* background-color: palegreen; */
    width: 25%;
    height: 50%;
    padding: 5px;
}

.empty-column {
    /* background-color: white; */
    width: 25%;
    height: 50%;
}

/* CONTACT SECTION */

#contact-section {
    height: 100%;
    /* background: lightblue; */
}

#contact-form {
    /* background-color: rgb(190, 145, 21); */
    margin: 30px;
    padding: 70px;
    border: solid 4px black;
    /* margin-bottom: 10px; */
}

/* CONTACT FORM - FORMSPREE.IO CODE */
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm fieldset,
#fs-frm optgroup,
#fs-frm label,
#fs-frm #card-element:disabled {
  font-family: 'Lexend Giga', sans-serif;
  font-size: 100%;
  color: inherit;
  border: none;
  border-radius: 0;
  display: block;
  width: 100%;
  padding: 0%;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}
#fs-frm label,
#fs-frm legend,
#fs-frm ::placeholder {
  font-size: .825em;
  margin-bottom: .5em;
  padding-top: .2em;
  display: flex;
  align-items: baseline;
}

/* border, padding, margin, width */
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm #card-element {
  border: 1px solid rgba(0,0,0,0.2);
  background-color: rgba(255,255,255,0.9);
  padding: .75em 1em;
  margin-bottom: 1.5em;
}
#fs-frm input:focus,
#fs-frm select:focus,
#fs-frm textarea:focus {
  background-color: white;
  outline-style: solid;
  outline-width: thin;
  outline-color: black;
  outline-offset: -1px;
}
#fs-frm [type="text"],
#fs-frm [type="email"] {
  width: 100%;
}
#fs-frm [type="button"],
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}
#fs-frm [type="button"]:focus,
#fs-frm [type="submit"]:focus,
#fs-frm [type="reset"]:focus {
  outline: none;
}
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  margin-bottom: 0;
}
#fs-frm select {
  text-transform: none;
}

#fs-frm [type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
  display: inline-block;
  width: auto;
  margin: 0 .5em 0 0 !important;
}

#fs-frm [type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
  appearance: radio;
}

/* address, locale */
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
  display: inline;
}
#fs-frm fieldset.locale input[name="city"] {
  width: 52%;
}
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
  width: 20%;
}
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"] {
  margin-right: 3%;
}